@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	padding: .5px 0;
}
body {
	background-color: #F2F2F0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 2em;
}
header {
	background-color: rgb(255,182,193);
}
address {
	font-style: normal;
	font-weight: bold;
	padding: 10px 0;
}
h3 {
	font-family: 'Poiret One', cursive;
	font-size: 27px;
	padding: 30px 0 0;
}

.calendar {
	font-weight: bold;
	font-size: 17px;
	float: right;
	clear: both;
}
.intro {
	font-size: 17px;
	padding: 15px 0;
}

nav a {
	text-transform: uppercase;
	color: inherit;
	font-weight: bolder;
	font-size: 17px;
	padding: 13px;
	float: right;
	background: #E75480;
}
a {
	text-decoration: none;
}
/*#two_column {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;*/
}
#left {
    float: left;
    width: 30%;
    padding: 10px;
}
#right {
    /*padding: 10px;*/
    float: right;
    padding: 10px;
    width: 50%;
}
.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.recital {
	float: left;
	width: 50%;
}
.partnering {
	float: right;
	width: 50%;
}
.hero {
	width: 100%
}
.four {
	padding: 15px;
}
.adult {
	width: 50%;
}
h4 {
	color: black;
	font-weight: bold;
	font-size: 18px;
}
footer {
	background-color: #333333;
	color: white;
	clear: both;
}
