@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}
body {
	background-color: #F2F2F0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 2em;
}
header {
	background-color: rgb(255,182,193);
}
address {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	padding: 20px 0 0 0;
}
h3 {
	font-family: 'Poiret One', cursive;
	font-size: 28px;
	padding: .3px 0;
}
.calendar {
	font-weight: bold;
	font-size: 17px;
	padding: 10px 0 0 0;
}
.one {
	background: url(images/hero_image.jpg" alt="gba students performing");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.intro {
	font-size: 17px;
	width: 35em;
	margin: 2em auto;
	text-align: center;
}

nav a {
	text-transform: uppercase;
	color: inherit;
	font-weight: bolder;
	padding: 10px;
	float: left;
	width: 25%;
	background: #E75480;
	border: 2px solid pink;
	text-align: center;
}
a {
	text-decoration: none;
}

#left {
    float: left;
    width: 55%;
}
#right {
    float: right;
    width: 43%;
    padding: 2px;
}
.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.recital {
	float: left;
	width: 45%;
	padding: 5px;
}
.partnering {
	float: right;
	width: 50%;
}
.hero {
	width: 100%
}
.four {
	padding: 15px;
}

.adult {
	float: left;
	width: 50%;
}

.last {
	float: right;
	width: 50%;
}
h4 {
	font-weight: bold;
	font-size: 18px;
}
footer {
	background-color: #333333;
	color: white;
	clear: both;
}
