@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	background-color: #F2F2F0;
	font-family: 'Roboto', sans-serif;
	margin: 2em;
}
header {
	background-color: rgb(255,182,193);
	line-height: 1.5em
}
#director {
	font-size: 26px;
	font-family: 'Poiret One', cursive;
}
.intro {
	font-size: 17px;
}
.important {
	font-weight: bold;
}

nav a {
	color: black;
	margin-right: 60px;
	font-weight: bolder;
}
a {
	text-decoration: none;
}
h1 {
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}
h4 {
	color: black;
	font-weight: bold;
	font-size: 18px;
}
footer {
	background-color: #544C4C;
	color: white;
}
