@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}
body {
	background-color: #F2F2F0;
	font-family: 'Roboto', sans-serif;
	margin: 2em;
	font-size: 16px;
	line-height: 1.5em;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
address {
	font-style: normal;
	font-weight: bold;
}
h3 {
	font-size: 27px;
	font-family: 'Poiret One', cursive;
}
.calendar {
	font-weight: bold;
	font-size: 17px;
}
.intro {
	font-size: 17px;
	width: 510px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	color: inherit;
	font-weight: bolder;
	font-size: 18px;
}
a {
	text-decoration: none;
}
#one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
.first {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.second {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.third {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.fourth {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
.hero {
	width: 100%
}
.adult {
	width: 80%;
}
h4 {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
